.addFormContainer {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    padding: 20px;
    border-radius: 5px;
}
.addAnimalForm {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    // padding: 5px;
}

.addSpeciesLink {
    color: blue;
    text-decoration: underline;

    &:hover {
        color: red;
        cursor: pointer;
    }

    a:active {
        color: yellow;
        background-color: transparent;
        text-decoration: underline;
    }
}
