.addFormContainer {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    padding: 20px;
    // margin-top: 50px;
    border-radius: 5px;
}
.addAnimalForm {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
}
