.centerButtons {
    display: flex;
    justify-content: center;
    // background-color: blue;
    align-items: center;
    gap: 5px;
    padding: 10px;
}

.centerGrid {
    display: flex;
    justify-content: center;
    // background-color: blue;
    align-items: center;
}

.cardGrid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    // background-color: green;
}
